<div id="panel">
        <div id="stage">


            <header class="public-site-header">
                <div class="row">
                    <div class="small-7 medium-4 columns">
                        <div class="public-site-header-logo">
                            <a href="#/public/index">
                                <img src="src/img/na-logo-white-red.png" alt="Logo">
                            </a>
                        </div>
                    </div>

                    <div class="small-5 medium-8 columns">
                        <nav class="public-site-header-nav">
                            <ul class="has-button">
                                <li><span>Already a member?</span> <a class="desktop-link button-link" ng-href="#/public/dealer/dealerSignin">Sign in</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class="centered-auction-icon">
                <div class="row">
                    <div class="small-12 columns">
                        <img src="src/img/auction-icon-red.png">
                    </div>
                </div>
            </div>

            <main id="main">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="na-section">
                            <h1 class="centered-text all-caps-text">
                                Welcome! Please Sign Up
                            </h1>
                            <!-- hidden messages -->
                            <div id="divSignUpNormal">

                              <div ng-if='vm.message' class='alert alert-success' role='alert'>
                                <p>{{ vm.message }}</p>
                              </div>
                              <div ng-if='vm.error' class='alert alert-danger' role='alert'>
                                <p>{{ vm.error }}</p>
                              </div>

                                <form class="na-login-form" ng-hide="vm.message" name="register" id="dealer-sign-up-normal" ng-submit="vm.register()">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <input type="email" class="na-input-text" id="dealer-email" ng-model="vm.email" placeholder="email" required>
                                            <input type="password" class="na-input-text" id="dealer-password" ng-model="vm.password" placeholder="password" required>
                                            <input type="password" class="na-input-text" id="dealer-password-repeat" ng-model="vm.passwordRepeat"  placeholder="reenter password" required>
                                            <button class="na-input-submit blue" id="btnSignup" type="submit" value="Sign Up">Sign Up</button>

                                            <div class="centered-text">
                                                <p style="color: #666;">Already a member?</p>
                                                <a href="#/public/dealer/dealerSignin" class="na-blue-hollow-button full-width-button">
                                                    Sign in
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div id="divSignupFail" style="display: none;">
                                <form class="na-login-form has-errors" id="dealer-Sign-in-fail" action="/">
                                  <div class="row">
                                      <div class="small-12 columns">
                                          <input type="email" class="na-input-text" id="dealer-email" ng-model="vm.email" placeholder="email" required>
                                          <input type="password" class="na-input-text" id="dealer-password" ng-model="vm.password" placeholder="password" required>
                                          <input type="password" class="na-input-text" id="dealer-password-repeat" ng-model="vm.passwordRepeat"  placeholder="reenter password" required>
                                          <button class="na-input-submit blue" id="btnSignup" type="submit" value="Sign Up">Sign Up</button>

                                          <div class="centered-text">
                                              <p style="color: #666;">Already a member?</p>
                                              <a href="#/public/dealer/dealerSignin" class="na-blue-hollow-button full-width-button">
                                                  Sign in
                                              </a>
                                          </div>
                                      </div>
                                  </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </main>


            <div ng-include src="'angular-app/partials/footer.html'"></div>

        </div><!--end of stage-->
</div>
