<footer class="public-site-footer">
    <div class="row">
        <div class="small-12 small-medium-6 columns">
            <div class="row">
                <div class="small-12 medium-large-6 columns">
                    <div class="logo">
                        <img src="/img/na-logo-white-red.png" alt="Logo">
                    </div>
                </div>

                <div class="small-12 medium-large-6 columns">
                    <ul>
                        <li class="heading">About Us</li>
                        <li><a href="/Home/AboutWhoWeAre">Who We Are</a></li>
                        <li><a href="/Home/AboutContact">Contact Us</a></li>
                        <li><a href="/Home/AboutFAQs">FAQs</a></li>
                        <li><a href="/Tools/VINDecoder">VIN Decoder</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Nations Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="small-12 small-medium-6 columns">
            <div class="row">
                <div class="small-12 medium-large-6 columns">
                    <ul>
                        <li class="heading">Shop for a Car</li>
                        <li><a href="/Vehicle/VehicleSearch">Used Cars for Sale</a></li>
                        <li><a href="/Vehicle/VehicleSearch">New Cars for Sale</a></li>
                        <li><a href="/Dealer/DealerSearch">Dealership Search</a></li>
                    </ul>
                </div>

                <div class="small-12 medium-large-6 columns">
                    <ul>
                        <li class="heading">Nations Dealers</li>
                        <li><a href="/Dealer/DealerSignIn">Dealer Login</a></li>
                        <li><a href="#">Dealer Blog</a></li>
                        <li><br><a class="na-red-button button-regular" href="/Dealer/DealerSignupInfo">Become a Nations Auction Dealer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 small-medium-6 medium-large-5 medium-large-push-3 columns">
            <p class="copyright">&copy; 2016 Nations Auction. All rights reserved.</p>
            <p class="copyright">Build #520. 2016.0801.1056.</p>
        </div>

        <div class="small-12 small-medium-6 medium-large-3 columns">
            <div id="back-to-top">
                <a href="#">Back to top &nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>