<div id="panel" ng-contoller="DealerSigninController as vm">
        <div id="stage">


            <header class="public-site-header">
                <div class="row">
                    <div class="small-7 medium-4 columns">
                        <div class="public-site-header-logo">
                            <a href="#/public/index">
                                <img src="src/img/na-logo-white-red.png" alt="Logo">
                            </a>
                        </div>
                    </div>

                    <div class="small-5 medium-8 columns">
                        <nav class="public-site-header-nav" ng-if="vm.isSignedIn">
                            <ul class="has-button">
                                <li><span>Need an account ?</span> <a class="desktop-link button-link" ng-href="#/public/dealer/dealerSignup">Sign up</a></li>
                            </ul>
                        </nav>
                        <nav class="public-site-header-nav" ng-if="!vm.isSignedIn">
                            <ul class="has-button">
                                <li> <a class="desktop-link button-link" ng-href="#/public/dealer/dealerSignup">LogOut</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </header>


            <div class="centered-auction-icon">
                <div class="row">
                    <div class="small-12 columns">
                        <img src="src/img/auction-icon-red.png">
                    </div>
                </div>
            </div>

            <main id="main" ng-if="!vm.isSignedIn()">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="na-section">
                            <h1 class="centered-text all-caps-text">
                                Welcome! Please Sign In
                            </h1>

                            <div id="divLoginNormal">

                              <div ng-if='vm.message' class='alert alert-success' role='alert'>
                                <p>{{ vm.message }}</p>
                              </div>
                              <div ng-if='vm.error' class='alert alert-danger' role='alert'>
                                <p>{{ vm.error }}</p>
                              </div>


                                <form class="na-login-form" ng-hide="vm.message"  name="signin" ng-submit="vm.signin()" id="dealer-log-in-normal">
                                    <div class="row">
                                        <div class="small-12 columns">
                                          <input type="email" class="na-input-text" id="dealer-email" ng-model="vm.email" placeholder="email" required>
                                          <input type="password" class="na-input-text" id="dealer-password" ng-model="vm.password" placeholder="password" required>
                                          <input type="password" class="na-input-text" id="dealer-password-repeat" ng-model="vm.passwordRepeat"  placeholder="reenter password" required>
                                            <button class="na-input-submit blue" id="btnLogIn" type="submit" value="Sign In">Sign In</button>

                                            <div class="centered-text">
                                                <a class="forgot-password" href="#">
                                                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> &nbsp;Forgot Password?
                                                </a>

                                                <p style="margin-bottom: 10px; color: #666;">Need an account?</p>

                                                <a href="/#/public/dealer/dealerSignup" class="na-blue-hollow-button full-width-button">
                                                    Sign Up
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div id="divLoginFail" style="display: none;">
                                <form class="na-login-form has-errors" id="dealer-log-in-fail" action="/">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <div class="errors">
                                                <p>The Email Address or Password is incorrect. Try Again.</p>
                                            </div>

                                            <input type="email" class="na-input-text error" placeholder="email" required>
                                            <input type="password" class="na-input-text error" placeholder="password" required>
                                            <input class="na-input-submit blue" type="button" value="Sign In">

                                            <div class="centered-text">
                                                <a class="forgot-password" href="#">
                                                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> &nbsp;Forgot Password?
                                                </a>

                                                <p style="margin-bottom: 10px; color: #666;">Need an account?</p>

                                                <a href="#/public/dealer/dealerSignup" class="na-blue-hollow-button full-width-button">
                                                    Sign Up
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <main ng-if="vm.isSignedIn()"> You successfully signed in.
              <br><br><br>
              <form ng-submit="vm.signout()" >
                <button class="btn btn-danger">Sign Out</button>
              </form>
            </main>

        </div><!--end of stage-->

        <div ng-include src="'angular-app/partials/footer.html'"></div>
    </div>
</div>
