<div ng-contoller="DealerSigninController as vm">

<main id="main" ng-if="!vm.isSignedIn()">

<h1>Welcome! Please Sign In</h1>

<div id="divLoginNormal">

<div ng-if='vm.message' class='alert alert-success' role='alert'>
<p>{{ vm.message }}</p>
</div>
<div ng-if='vm.error' class='alert alert-danger' role='alert'>
  <p>{{ vm.error }}</p>
</div>


<form class="" ng-hide="vm.message"  name="signin" ng-submit="vm.signin()">
  <input type="email" class="na-input-text" id="dealer-email" ng-model="vm.email" placeholder="email" required>
  <input type="password" class="na-input-text" id="dealer-password" ng-model="vm.password" placeholder="password" required>
  <input type="password" class="na-input-text" id="dealer-password-repeat" ng-model="vm.passwordRepeat"  placeholder="reenter password" required>
  <button class="na-input-submit blue" id="btnLogIn" type="submit" value="Sign In">Sign In</button>
  <a class="forgot-password" href="#">Forgot Password?</a>
  <p>Need an account?</p>
  <a href="/#/public/dealer/dealerSignup">Sign Up</a>
</form>


<div id="divLoginFail" style="display: none;">
<form class="na-login-form has-errors" id="dealer-log-in-fail" action="/">

<div class="errors">
  <p>The Email Address or Password is incorrect. Try Again.</p>
</div>

<input type="email" class="na-input-text error" placeholder="email" required>
<input type="password" class="na-input-text error" placeholder="password" required>
<input class="na-input-submit blue" type="button" value="Sign In">

<a class="forgot-password" href="#"><i aria-hidden="true"></i> &nbsp;Forgot Password?</a>

<p>Need an account?</p>

<a href="#/public/dealer/dealerSignup" class="na-blue-hollow-button full-width-button">Sign Up</a>
</form>

</main>

<div ng-if="vm.isSignedIn()"> You successfully signed in.
  <form ng-submit="vm.signout()" >
    <button class="btn btn-danger">Sign Out</button>
  </form>
</div>


