
body {
    padding: 50px;
}

.dataItem {
    width: 300px;
    min-height: 150px;
    float: left;
    margin: 10px;
}
.dataItem-editor {
    width: 600px;
    float: left;
    margin: 10px;
}

.dataItem-editor textarea {
    border-color: dddddd;
}

.smaller {
    font-size: 15pt;
}

.lighter {
    color: #aaaaaa;
}

p.preparation {white-space: pre}

.right-button {
    float: right;
    padding: 10px;
    font-size: 125%;
}

.bs-callout{padding:10px 20px;margin:10px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}
<<<<<<< HEAD
=======


/* search bar */
.home-hero-title{
  box-sizing: border-box;
      color: rgb(255, 255, 255);
      height: 90px;
      letter-spacing: -0.4px;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
      text-transform: uppercase;
      width: 781.5px;
      column-rule-color: rgb(255, 255, 255);
      perspective-origin: 390.75px 45px;
      transform-origin: 390.75px 45px;
      border: 0px none rgb(255, 255, 255);
      font: normal normal bold normal 60px / 90px "Droid Sans", sans-serif;
      margin: 0px 0px 20px;
      outline: rgb(255, 255, 255) none 0px;
}

#txtZipcode, #txtZipOnly{
  padding-left: 30px;
}

/* Learn More */
.centered-text h3 {
  box-sizing: border-box;
  color: rgb(33, 41, 95);
  height: 56px;
  text-align: center;
  width: 317.328px;
  column-rule-color: rgb(33, 41, 95);
  perspective-origin: 158.656px 28px;
  transform-origin: 158.656px 28px;
  border: 0px none rgb(33, 41, 95);
  font: normal normal bold normal 18.72px / 28.08px "Droid Sans", sans-serif;
  margin: 18.72px 0px -10px;
  outline: rgb(33, 41, 95) none 0px;
}

.centered-text p{
  box-sizing: border-box;
  color: rgb(10, 10, 10);
  height: 144px;
  text-align: center;
  width: 317.328px;
  column-rule-color: rgb(10, 10, 10);
  perspective-origin: 158.656px 72px;
  transform-origin: 158.656px 72px;
  border: 0px none rgb(10, 10, 10);
  font: normal normal normal normal 16px / 24px "Droid Sans", sans-serif;
  margin: 16px 0px;
  outline: rgb(10, 10, 10) none 0px;
  margin-bottom: 40px;
}

.na-blue-button{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 53.5469px 16px;
  transform-origin: 53.5469px 16px;
  background: rgb(46, 57, 133) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 16.8px "Droid Sans", sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  padding: 8px 12px;
}

/* Find Dealership*/
.all-caps-text{
  box-sizing: border-box;
  color: rgb(33, 41, 95);
  height: 36px;
  text-transform: uppercase;
  width: 375.203px;
  column-rule-color: rgb(33, 41, 95);
  perspective-origin: 187.594px 18px;
  transform-origin: 187.594px 18px;
  border: 0px none rgb(33, 41, 95);
  font: normal normal bold normal 24px / 36px "Droid Sans", sans-serif;
  margin: 19.92px 0px;
  outline: rgb(33, 41, 95) none 0px;
}

.small-12 medium-7 columns {
  box-sizing: border-box;
  color: rgb(10, 10, 10);
  float: right;
  height: 204.812px;
  width: 405.203px;
  column-rule-color: rgb(10, 10, 10);
  perspective-origin: 202.594px 102.406px;
  transform-origin: 202.594px 102.406px;
  border: 0px none rgb(10, 10, 10);
  font: normal normal normal normal 16px / 24px "Droid Sans", sans-serif;
  outline: rgb(10, 10, 10) none 0px;
  padding: 0px 15px;
}

.small-12 medium-7 columns p{
  box-sizing: border-box;
  color: rgb(10, 10, 10);
  height: 48px;
  width: 375.203px;
  column-rule-color: rgb(10, 10, 10);
  perspective-origin: 187.594px 24px;
  transform-origin: 187.594px 24px;
  border: 0px none rgb(10, 10, 10);
  font: normal normal normal normal 16px / 24px "Droid Sans", sans-serif;
  margin: 16px 0px;
  outline: rgb(10, 10, 10) none 0px;
}
>>>>>>> 2aa77a45e6a7eae6d805fbc3ddf544187d0edb88
