<div class="toolbar">
  <h1><a ng-href="/" class="logo">Nations Auction</a></h1>
  <nav>
    <ul>
      <li><input tabindex="-1" type="search" /></li>
      <li ng-if="vm.isSignedIn()">
        <i class="menu" tabindex="-1">Alerts</i>
        <menu>
          <ul>
            <li>Notification Message</li>
            <li>Notification Message</li>
            <li>Notification Message</li>
            <li>Notification Message</li>
            <li>Notification Message</li>
            <li>Notification Message</li>
          </ul>
        </menu>
      </li>
      <li ng-if="vm.isSignedIn()">
        <i class="menu" tabindex="-1">Profile</i>
        <menu>
          <ul>
            <li>Menu Item</li>
            <li>Menu Item</li>
            <li>Menu Item</li>
            <li>Menu Item</li>
            <li class="signout">Sign Out</li>
          </ul>
        </menu>
      </li>
      <li ng-if="!vm.isSignedIn()">
        <a ng-href="#/public/dealer/dealerSignin">Signup/Signin</a>
      </li>
    </ul>
  </nav>
</div>
<nav>
  <ul>
    <li><a ng-href="">Home</a></li>
    <li><a ng-href="">Vehicles</a></li>
    <li><a ng-href="">Marketplace</a></li>
    <li><a ng-href="">Inventory</a></li>
    <li><a ng-href="">Watchlist</a></li>
  </ul>
</nav>
