    <div class="home-featured-image" style="background-image: url(src/img/fpo/public-home-hero-1440x750.jpg);">
        <div class="title">Your Used Car Ride Awaits</div>
    </div>

    <div class="home-hero">
      <div class="row">
        <div class="small-12 medium-11 medium-centered medium-large-9 medium-large-centered large-7 large-centered columns">
          <h1 class="home-hero-title">Your Used Car Ride Awaits</h1>

          <div class="hero-form-container">
            <ul class="na-selector">
                <li><a  href="#" id="selectNewCar">New Car</a></li>
                <li><a class="active" href="#" id="selectUsedCar" selected>Used Car</a></li>
                <li><a href="#" id="selectCertified">Certified Pre-Owned</a></li>
                <li><a href="#" id="selectAll">All Cars</a></li>
            </ul>

            <form action="/">
              <div class="row">
                <div class="small-12 medium-3 columns">
                  <select class="na-select hide-for-tablet-desktop" required>
                    <option value="New Car" >New Car</option>
                    <option value="Used Car" selected>Used Car</option>
                    <option value="Certified Pre-owned">Certified Pre-owned</option>
                    <option value="All">All</option>
                  </select>
                </div>

                <div class="small-12 medium-3 columns">
                  <select class="na-select" id="ddlMake">
                    <option value="0" selected>Loading. . .</option>
                  </select>
                </div>

                <div class="small-12 medium-3 columns">
                  <select class="na-select" id="ddlModel">
                    <option value="0" selected>. . .</option>
                  </select>
                </div>

                <div class="small-12 medium-3 columns">
                  <input class="na-input-text" type="text" id="txtZipcode" placeholder="Zip Code" pattern="\d{5}-?(\d{4})?">
                </div>

                <div class="small-12 medium-3 columns">
                  <input class="na-input-submit" type="button" id="btnDealerSearch" value="Search">
                </div>
              </div>
            </form>

            <div class="advanced-search-link">
              <a href="/Vehicle/VehicleAdvancedSearch">Advanced Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
