<div class="container">
	
	<div class="page-header">
	    <h1>Data: Profiles <small>Profile management through NA API</small></h1>
	</div>
	
    <div class="alert alert-danger" ng-show="page_load_error"> {{ page_load_error }} </div>

    <div ng-show="!finished_loading"><h4 style="color: #aaaaaa"> Loading ... please wait. </h4></div>

    <div ng-show="finished_loading">
	  
    <p>Filter list: <input ng-model="searchFor" size="30"/></p>
	
	<div class="container">
		
		<div>
			Profile data: 
		</div>
		<div class="container">
			<div ng-show="{{profiles.length == 0}}">
				This should only appear if there are no profiles to show.
			</div>
		    <div ng-repeat="profile in profiles | filter:searchFor | orderBy: 'type'"
		         class="dataItem panel panel-default">
		      <div class="panel-heading"><a href ng-href="#/data/profiles/{{profile.ItemGuid}}">{{ profile.ItemName }} ({{profile.Username}})</a></div>
		      <div class="panel-body">
		        Location: {{profile.City}}, {{profile.USState}}
		      </div>
		    </div>
		    <div style="clear: left"></div>
		    <p> There are {{ profiles.length }} total profiles.</p>
		</div>
	</div>
  
</div>