<div class="container">
	
	<div class="page-header">
	    <h1>API test area <small>Data management through NA API</small></h1>
	</div>
	
    <div class="alert alert-danger" ng-show="page_load_error"> {{ page_load_error }} </div>

    <div ng-show="!finished_loading"><h4 style="color: #aaaaaa"> Loading ... please wait. </h4></div>

    <div ng-show="finished_loading">
	
	<div class="container">
		
		<div class="container">
			<div ng-show="{{profiles.length == 0}}">
				This should only appear if there are no registered APIs.
			</div>
		    <div>
				Registered APIs
				<ul>
					<li>Profile - GET</li>
					<li>Vehicle - GET</li>
				</ul>
			</div>
		</div>
	</div>
  
</div>