<div id="panel">
        <div id="stage">


            <header class="public-site-header">
                <div class="row">
                    <div class="small-7 medium-4 columns">
                        <div class="public-site-header-logo">
                            <a href="/Home/Index">
                                <img src="/img/na-logo-white-red.png" alt="Logo">
                            </a>
                        </div>
                    </div>

                    <div class="small-5 medium-8 columns">
                        <nav class="public-site-header-nav">
                            <ul class="has-button">
                                <li><span>Need an Account?</span> <a class="desktop-link button-link" href="/Dealer/DealerSignupInfo">Sign Up</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class="centered-auction-icon">
                <div class="row">
                    <div class="small-12 columns">
                        <img src="/img/auction-icon-red.png">
                    </div>
                </div>
            </div>

            <main id="main">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="na-section">
                            <h1 class="centered-text all-caps-text">
                                Welcome <span id="spanNewUser">new user</span> !<br>
                                Please create a password
                            </h1>

                            <form class="na-login-form" id="dealer-create-password" action="/">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <input type="password" class="na-input-text" id="txtPassword" placeholder="password" required>
                                        <input type="password" class="na-input-text" id="txtConfirmPassword" placeholder="confirm password" required>
                                        <input class="na-input-submit blue" id="btnCreate" type="button" value="Create">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>


        </div><!--end of stage-->

        <div ng-include src="'app/views/public/shared/footer.html'"></div>
    </div>