<div id="panel">
        <div id="stage">


            <header class="public-site-header">
                <div class="row">
                    <div class="small-9 medium-4 columns">
                        <div class="public-site-header-logo">
                            <a href="/Home/Index">
                                <img src="/img/na-logo-white-red.png" alt="Logo">
                            </a>
                        </div>
                    </div>

                    <div class="small-3 medium-8 columns">
                        <nav class="public-site-header-nav">
                            <ul>
                                <li><a class="desktop-link" href="/Vehicle/VehicleSearch?newused=new">New Cars</a></li>
                                <li><a class="desktop-link" href="/Vehicle/VehicleSearch?newused=used">Used Cars</a></li>
                                <li><a class="desktop-link" href="/Dealer/DealerSearch">Find Local Dealers</a></li>
                                <li><a class="mobile-link" id="open-slideout-menu" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class="na-dealer-info-bar">
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="small-12 medium-large-9 columns">
                            <ul class="na-dealer-listings" id="ulDelaerData">
                            </ul>
                        </div>
                    </div>

                    <div class="small-12 medium-6 columns">
                        Test ID:<span id="spanTestID">none</span>
                    </div>
                    <div class="small-12 medium-6 columns">
                        Inventory: <span><button type="button" class="na-red-button button-regular naCmdBtn" id="btnAddVehicles">Add Vehicles</button></span>
                    </div>
                </div>
            </div>

            <div class="na-search-results-bar show-for-desktop">
                <div class="row">
                    <div class="small-3 columns">
                        <div class="header">
                            <span class="title">Dealer Listings</span>
                        </div>
                        <div class="content">
                            <i class="fa fa-user" aria-hidden="true"></i> <span id="spanVehicleCount">-</span>
                        </div>
                    </div>

                    <div class="small-5 columns">
                        <div class="header">
                            <span class="title">Dealer Distance</span> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                        <div class="content">
                            <i class="fa fa-bullseye" aria-hidden="true"></i> <span>-</span>
                        </div>
                    </div>

                    <div class="small-4 columns">
                        <form action="/">
                            <div class="row">
                                <div class="small-12 medium-large-6 columns">
                                    <select class="na-select">
                                        <option value="0" selected>Show 25</option>
                                        <option value="1">Show 50</option>
                                        <option value="2">Show 100</option>
                                    </select>
                                </div>

                                <div class="small-12 medium-large-6 columns">
                                    <select class="na-select">
                                        <option value="0" selected>Price: Highest</option>
                                        <option value="1">Option 2</option>
                                        <option value="2">Option 3</option>
                                        <option value="3">Option 4</option>
                                        <option value="4">Option 5</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <main id="main" class="add-padding">
                <div class="row">
                    <div class="small-12 medium-large-3 columns show-for-desktop">
                        <div class="na-refine-list">
                            <ul class="active-refinements">
                                <li class="header">Dealer Inventory Search</li>
                            </ul>

                            <ul class="refinements-menu">
                                <li><a href="#">Year</a></li>
                                <li><a href="#">Make</a></li>
                                <li><a href="#">Model</a></li>
                                <li><a href="#">Price</a></li>
                                <li><a href="#">Mileage</a></li>
                                <li><a href="#">Body Style</a></li>
                                <li><a href="#">Exterior Color</a></li>
                                <li><a href="#">Interior Color</a></li>
                                <li><a href="#">Drivetrain</a></li>
                                <li><a href="#">Transmission</a></li>
                                <li><a href="#">Options</a></li>
                                <li><a href="#">Year</a></li>
                                <li><a href="#">MPG</a></li>
                                <li><a href="#">Keywords</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="small-12 medium-large-9 columns">
                        <ul class="na-vehicle-listings" id="ulVehicles">
                           
                        </ul>
                    </div>
                </div>
            </main>


        </div><!--end of stage-->
        <div ng-include src="'app/views/public/shared/footer.html'"></div>
    </div>